body {
    overflow-x: hidden;
}

.dream {
    display: none;
}

header nav {
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

header nav .logo {
    width: 10%;
}

header nav img {
    position: relative;
    left: 10px;
    width: 100%;
    height: 100%;
}

section {
    width: 100vw;
}

section .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
}

.worker {
    background-image: url("../assets/images/ACCUEIL/SVG/mobile/worker_mobile3.svg");
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
    width: 90%;
    margin: 0 5%;
    height: 50vh;
    margin-top: 60%;
}

.line {
    background-image: url("../assets/images/ACCUEIL/SVG/mobile/line_mobile.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    width: 100vh;
    height: 1vh;
}

.landing_titles {
    display: flex;
    align-items: center;
    justify-content: top;
    width: 100%;
    height: 20vh;
    transform: translate(0, 100%);
}

.title_1 {
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35%;
}

.title_1 h1 {
    font-family: 'Ubuntu', sans-serif;
    color: #891dfc;
    font-size: 3.3rem;
    font-weight: 700;
    letter-spacing: 10px;
    margin-bottom: 10px;
}

.title_1 h1 .altcolor {
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
}

.subtitle_1 {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.subtitle_1 h2 {
    font-family: 'Press Start 2P', cursive;
    color: #ff0074;
    font-size: 0.8em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 5px;
}


/* Section "SERVICES*/

section .container2 {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

section .container2 .subcontainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
}

.neon {
    order: 0;
    width: 100%;
}

.left {
    width: 100%;
    height: 100%;
    order: 1;
}

.content_l {
    border-top: 2px solid #15e1d1;
    height: 100%;
}

.right {
    width: 100%;
    height: 100%;
    order: 2;
}

.content_r {
    border-top: 2px solid #15e1d1;
    height: 100%;
}

.illustration {
    margin: 1rem 0;
}

.idv {
    margin: 1rem 0;
}

.print {
    margin: 1rem 0;
}

.web {
    margin: 1rem 0;
}

.workflow {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 2rem 0;
}

.num {
    width: 100%;
    margin: 1rem 0;
}

.title_r h3 {
    font-size: 1rem;
}

.list_l p {
    font-size: 1rem;
    line-height: 1.5rem;
}

.list_r p {
    font-size: 1rem;
    line-height: 1.5rem;
}

.title_l {
    font-size: 0.8rem;
    padding-bottom: 0.5rem;
}

.title_r {
    padding-bottom: 0.5rem;
    font-size: 0.8rem;
}

.picto_l {
    height: auto;
}

.picto_r {
    height: auto;
}

.num_title {
    font-size: 1rem;
    padding: 1.2rem 0;
    order: 1;
    width: 60%;
}

.nm {
    height: 4rem;
    width: 4rem;
    order: 0;
}

.desc {
    order: 2;
    font-size: 1.1rem;
    width: 85%;
}


/*section "PORTFOLIO"*/

#portfolio {
    height: 100%;
}

section .container3 {
    height: 100%;
}

.gallery {
    width: 100%;
    height: 100%;
    margin-top: 15%;
}

.gallery .image {
    width: 50%;
    height: 100%;
}

.gallery .image .zoom {
    width: 100%;
    height: 100%;
}

.gallery .image .zoom picture {
    width: 100%;
    height: 100%;
}


/* Section - A PROPOS */

section .container4 {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.description {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.description .text {
    font-size: 0.5rem;
    padding: 0px 30px;
    letter-spacing: 1px;
    margin: auto;
    order: 2;
}

.about_img {
    order: 1;
    width: 50%;
}

.about_head {
    width: 80%;
    margin-top: 8vh;
    order: 0;
}

.sun {
    width: 100%;
    height: 60%;
    left: 0;
}

.redhanime {
    top: -4%;
}


/* Section - CONTACT */

section .container5 {
    background-size: cover;
    align-items: center;
    background-position: center;
    width: 95%;
    margin: auto;
}

.computer {
    background-image: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.screen {
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.form {
    width: 100%;
    height: 100%;
    order: 1;
}

.contact {
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}

.contact_head {
    order: 0;
}

.contact_title {
    font-size: 1.2rem;
}

.portrait {
    margin: 10px 0;
}

.network {
    height: 25%;
    order: 2;
}

.network_title {
    font-size: 0.8rem;
    height: 15%;
}

.network_links {
    font-size: 3rem;
    height: 70%;
}