body {
    overflow-x: hidden;
}

header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100vw;
}

header nav .logo {
    width: 10%;
}

header nav img {
    position: relative;
    left: 10px;
    width: 100%;
    height: 100%;
}

section {
    width: 100vw;
}

section .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 90%;
    margin: auto;
}

#accueil .container {
    background-image: none;
}

.worker {
    background-image: url("../assets/images/ACCUEIL/SVG/mobile/worker_mobile3.svg");
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
    width: 90%;
    margin: auto 5%;
    height: 50vh;
    margin-top: 30%;
    display: block;
}

.line {
    background-image: url("../assets/images/ACCUEIL/SVG/mobile/line_mobile.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    width: 100vh;
    height: 1vh;
}

.landing_titles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    -webkit-transform: translate(0, 50%);
    -ms-transform: translate(0, 50%);
    transform: translate(0, 50%);
}

.title_1 {
    padding-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 35%;
}

.title_1 h1 {
    font-family: 'Ubuntu', sans-serif;
    color: #891dfc;
    font-size: 3.3rem;
    font-weight: 700;
    letter-spacing: 10px;
    margin-bottom: 10px;
}

.title_1 h1 .altcolor {
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
}

.subtitle_1 {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.subtitle_1 h2 {
    font-family: 'Press Start 2P', cursive;
    color: #ff0074;
    font-size: 0.8em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 5px;
}


/* Section "SERVICES*/

section .container2 {
    width: 100vw;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

section .container2 .subcontainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;
}

.neon {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    width: 100%;
}

.left {
    width: 100%;
    height: 100%;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

.content_l {
    border-top: 2px solid #15e1d1;
    height: 100%;
}

.right {
    width: 100%;
    height: 100%;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}

.content_r {
    border-top: 2px solid #15e1d1;
    height: 100%;
}

.illustration {
    margin: 1rem 0;
}

.idv {
    margin: 1rem 0;
}

.print {
    margin: 1rem 0;
}

.web {
    margin: 1rem 0;
}

.workflow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    margin: 2rem 0;
}

.num {
    width: 100%;
    margin: 1rem 0;
}

.title_r h3 {
    font-size: 1rem;
}

.list_l p {
    font-size: 1rem;
    line-height: 1.5rem;
}

.list_r p {
    font-size: 1rem;
    line-height: 1.5rem;
}

.title_l {
    font-size: 0.8rem;
    padding-bottom: 0.5rem;
}

.title_r {
    padding-bottom: 0.5rem;
    font-size: 0.8rem;
}

.picto_l {
    height: auto;
}

.picto_r {
    height: auto;
}

.num_title {
    font-size: 0.8rem;
    padding: 1rem 0;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: 60%;
}

.nm {
    height: 4rem;
    width: 4rem;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
}

.desc {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    font-size: 1.1rem;
    width: 85%;
    padding: 0.5rem 0;
}


/*section "PORTFOLIO"*/

#portfolio {
    height: 100%;
}

section .container3 {
    height: 100%;
}

.gallery {
    width: 100%;
    height: 100%;
    margin-top: 15%;
}

.gallery .image {
    width: 50%;
    height: 100%;
}

.gallery .image .zoom {
    width: 100%;
    height: 100%;
}

.gallery .image .zoom picture {
    width: 100%;
    height: 100%;
}


/* Section - A PROPOS */

section .container4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.description {
    display: -webkit-box;
    display: -ms-flexbox;
    height: 55%;
    width: 100%;
    margin-top: 1rem;
}

.description .texts {
    margin: 1rem 0 0 0;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    width: 100%;
    height: auto;
    line-height: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    font-size: 0.5rem;
    letter-spacing: 1px;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    margin: auto;
    order: 2;
    width: 80%;
    line-height: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_img {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: 50%;
    height: 35%;
    margin: 0 auto;
}

.about_head {
    width: 90%;
    height: 20%;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
}

.about_head .title {
    width: 75%;
    position: relative;
    right: 0;
}

.about_head .subtitle {
    width: 100%;
    justify-content: flex-start;
}

.sun {
    width: 100%;
    height: 60%;
    left: 0;
}


/* Section - CONTACT */

section .container5 {
    background-size: cover;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-position: center;
    width: 100%;
    margin: auto;
}

.contact-form {
    width: 95%;
    height: 90%;
}

.form {
    width: 100%;
    height: 100%;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

.contact {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}

.contact_head {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
}

.contact_title {
    font-size: 1.2rem;
}

.portrait {
    margin: 10px 0;
}

.network {
    height: 25%;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}

.network_title {
    font-size: 0.8rem;
    height: 15%;
}

.network_links {
    font-size: 3rem;
    height: 70%;
}