header nav {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    margin: 0;
}

.dream {
    display: none;
}

.section .container {
    display: block;
    align-items: center;
    justify-content: center;
}

.worker {
    background-position: center;
    width: 100%;
    height: 60%;
}

.landing_titles {
    width: 100%;
    transform: translate(30%, 135%);
}


/*Section SERVICES*/

.container2 {
    width: 100vw;
}

.subcontainer {
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.workflow {
    flex-direction: column;
    height: 100%;
    margin: 5rem auto;
}

.num {
    width: 90%;
    margin: 1rem auto;
}

.neon {
    display: none;
}

.left {
    width: 47%;
}

.right {
    width: 47%
}

.list_l,
.list_r {
    height: 100%;
}

.list_l p,
.list_r p {
    font-size: 1rem;
    line-height: 2rem;
}

.title_l,
.title_r {
    font-size: 0.8rem
}

.picto_l,
.picto_r {
    height: 100%;
}


/*Section - A PROPOS*/

section .container4 {
    justify-content: center;
    width: 100%;
}

.about_head {
    height: 10%;
    margin: 8% auto 8% auto;
}

.description {
    width: 70%;
    justify-content: center;
}

.description .text {
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin: 0 0 0 15%;
}

.redhanime {
    width: 80%;
    left: 10%;
}

.sun {
    width: 100%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Section- CONTACT*/

#contact {
    background-size: contain;
    background-position: bottom;
}

.computer {
    background-image: none;
    width: 100%;
}

.screen {
    width: 100%
}