body {
    overflow-x: hidden;
}

.dream {
    display: none;
}

.menu {
    display: none;
}

header nav {
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

header nav .logo {
    width: 10%;
}

header nav img {
    position: relative;
    left: 10px;
    width: 100%;
    height: 100%;
}

.toggle {
    display: block;
    font-size: 2rem;
    padding: 5px 10px;
}

.ouvrir {
    display: block;
}

.fermer {
    display: none;
}

.open .ouvrir {
    display: none;
}

.open .fermer {
    display: block;
}

section {
    width: 100;
    height: 100%;
}

section .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
}

.worker {
    background-image: url(../assets/images/ACCUEIL/SVG/mobile/worker_mobile3.svg);
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
    width: 90%;
    margin: 0 5%;
    height: 50vh;
    margin-top: 75%;
}

.line {
    background-image: url(../assets/images/ACCUEIL/SVG/mobile/line_mobile.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    width: 100vh;
    height: 1vh;
}

.landing_titles {
    display: flex;
    align-items: center;
    justify-content: top;
    width: 100%;
    height: 20vh;
    transform: translate(0, -120%);
}

.title_l {
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35%;
}

.title_l h1 {
    font-family: 'Ubuntu', sans-serif;
    color: #891dfc;
    font-size: 3.3rem;
    font-weight: 700;
    letter-spacing: 10px;
    margin-bottom: 10px;
}

.title_l h1 .altcolor {
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
}

.subtitle_l {
    width: 100%;
    justify-content: center;
}

.subtitle_l h2 {
    font-family: 'Press Start 2P', cursive;
    color: #ff0074;
    font-size: 0.8em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 5px;
}


/* Section "SERVICES*/

section .container2 {
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 0.2rem;
}

#services {
    background: black;
}

section .container2 .subcontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100%;
}

.neon {
    order: 0;
    background-image: url('/assets/images/SERVICES/SVG/neon.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.left {
    width: 100vw;
    height: 100%;
    order: 1;
}

.right {
    width: 100vw;
    height: 100%;
    order: 2;
}

.illustration {
    background-image: url(../assets/images/SERVICES/SVG/mobile/illustrations_mobile.svg);
    position: absolute;
    top: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.idv {
    background-image: url(../assets/images/SERVICES/SVG/mobile/idv_mobile.svg);
    position: absolute;
    top: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.print {
    position: absolute;
    top: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-image: url(../assets/images/SERVICES/SVG/mobile/print_mobile.svg);
    display: none;
}

.web {
    position: absolute;
    top: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-image: url(../assets/images/SERVICES/SVG/mobile/web_mobile.svg);
    display: none;
}

.workflow {
    display: none;
}

.glow,
.ship {
    display: none;
}


/*section "PORTFOLIO"*/

#portfolio {
    height: 100%;
}

section .container3 {
    height: 100%;
}

.gallery {
    width: 100%;
    height: 100%;
    margin-top: 15%;
}

.gallery .image {
    width: 50%;
    height: 100%;
}

.gallery .image .zoom {
    width: 100%;
    height: 100%;
}

.gallery .image .zoom picture {
    width: 100%;
    height: 100%;
}


/* Section - A PROPOS */

section .container4 {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.description {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.description .text {
    font-size: 0.5rem;
    padding: 0px 30px;
    letter-spacing: 1px;
    margin: auto;
    order: 2;
}

.about_img {
    order: 1;
    width: 50%;
    top: 5%;
}

.about_head {
    width: 80%;
    order: 0;
}

.sun {
    width: 100%;
    height: 60%;
    left: 0;
}

.redhanime {
    top: 0;
}


/* Section - CONTACT */

section .container5 {
    background-size: cover;
    align-items: center;
    background-position: center;
}

.computer {
    background-image: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.screen {
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.form {
    width: 100%;
    height: 100%;
    order: 1;
}

.contact {
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}

.contact_head {
    order: 0;
}

.contact_title {
    font-size: 1.2rem;
}

.portrait {
    margin: 10px 0;
}

.network {
    height: 25%;
    order: 2;
}

.network_title {
    font-size: 0.8rem;
    height: 15%;
}

.network_links {
    font-size: 3rem;
    height: 70%;
}